# Common parameters
# All the parameters here are similar to the command line arguments

[common]
#cuda_devices 0 1 2 3 4 5 6
intensity    64 64 64 64 64 64
templimit    85
pec          0
boff         0
eexit        0
tempunits    c
log          1
logfile      miner.log
api          127.0.0.1:42000
fee	     0

# The miner start work from this server
# When the server is fail, the miner will try to reconnect 3 times
# After three unsuccessful attempts, the miner will switch to the next server
# You can add up to 8 servers
[server]
server eu1-zcash.flypool.org
port   3333
user	t1a1PcTL1ogTrmJgfZ5RgYQk9jX4GMpFYfL.btc250x001
pass   davidhazeldenuk@gmail.com
